/.classpath
/.project
/.settings
addon/.classpath
addon/.project
addon/.settings
addon/repository/.classpath
addon/repository/.project
addon/repository/.settings
addon/repository/target
archetype/.classpath
archetype/.project
archetype/.settings
archetype/bin
archetype/target
components/.classpath
components/.project
components/.settings
components/target
core/.classpath
core/.project
core/.settings
core/src/main/java/org/hippoecm/hst/core/template/*.mine
core/src/main/java/org/hippoecm/hst/core/template/*.r12958
core/src/main/java/org/hippoecm/hst/core/template/*.r13025
core/src/main/java/org/hippoecm/hst/core/template/module/*.mine
core/src/main/java/org/hippoecm/hst/core/template/module/*.r12935
core/src/main/java/org/hippoecm/hst/core/template/module/*.r13025
core/src/main/java/org/hippoecm/hst/core/template/module/listdisplay/*.mine
core/src/main/java/org/hippoecm/hst/core/template/module/listdisplay/*.r1*
core/src/main/java/org/hippoecm/hst/core/template/module/listdisplay/*.r12958
core/src/main/java/org/hippoecm/hst/core/template/node/*.mine
core/src/main/java/org/hippoecm/hst/core/template/node/*.r12935
core/src/main/java/org/hippoecm/hst/core/template/node/*.r12958
core/src/main/java/org/hippoecm/hst/core/template/node/*.r13025
core/src/main/java/org/hippoecm/hst/core/template/tag/*.mine
core/src/main/java/org/hippoecm/hst/core/template/tag/*.r12958
core/src/main/java/org/hippoecm/hst/core/template/tag/*.r13025
core/target
gettingstarted/.classpath
gettingstarted/.project
gettingstarted/.settings
gettingstarted/content/.classpath
gettingstarted/content/.project
gettingstarted/content/.settings
gettingstarted/content/target
gettingstarted/ecm/.classpath
gettingstarted/ecm/.project
gettingstarted/ecm/.settings
gettingstarted/ecm/target
gettingstarted/site/.classpath
gettingstarted/site/.project
gettingstarted/site/.settings
gettingstarted/site/target
src/site/.project
/target
